In [4]:
import pandas as pd

In [ ]:
# original text from source code of OPM: https://apps.opm.gov/dsfls/s_index2.cfm

In [13]:
string = '<OPTION VALUE="01" >ALABAMA (01) <OPTION VALUE="02" >ALASKA (02) <OPTION VALUE="04" >ARIZONA (04) <OPTION VALUE="05" >ARKANSAS (05) <OPTION VALUE="06" >CALIFORNIA (06) <OPTION VALUE="08" >COLORADO (08) <OPTION VALUE="09" >CONNECTICUT (09) <OPTION VALUE="10" >DELAWARE (10) <OPTION VALUE="11" >DISTRICT OF COLUMBIA (11) <OPTION VALUE="12" >FLORIDA (12) <OPTION VALUE="13" >GEORGIA (13) <OPTION VALUE="15" >HAWAII (15) <OPTION VALUE="16" >IDAHO (16) <OPTION VALUE="17" >ILLINOIS (17) <OPTION VALUE="18" >INDIANA (18) <OPTION VALUE="19" >IOWA (19) <OPTION VALUE="20" >KANSAS (20) <OPTION VALUE="21" >KENTUCKY (21) <OPTION VALUE="22" >LOUISIANA (22) <OPTION VALUE="23" >MAINE (23) <OPTION VALUE="24" >MARYLAND (24) <OPTION VALUE="25" >MASSACHUSETTS (25) <OPTION VALUE="26" >MICHIGAN (26) <OPTION VALUE="27" >MINNESOTA (27) <OPTION VALUE="28" >MISSISSIPPI (28) <OPTION VALUE="29" >MISSOURI (29) <OPTION VALUE="30" >MONTANA (30) <OPTION VALUE="31" >NEBRASKA (31) <OPTION VALUE="32" >NEVADA (32) <OPTION VALUE="33" >NEW HAMPSHIRE (33) <OPTION VALUE="34" >NEW JERSEY (34) <OPTION VALUE="35" >NEW MEXICO (35) <OPTION VALUE="36" >NEW YORK (36) <OPTION VALUE="37" >NORTH CAROLINA (37) <OPTION VALUE="38" >NORTH DAKOTA (38) <OPTION VALUE="39" >OHIO (39) <OPTION VALUE="40" >OKLAHOMA (40) <OPTION VALUE="41" >OREGON (41) <OPTION VALUE="42" >PENNSYLVANIA (42) <OPTION VALUE="44" >RHODE ISLAND (44) <OPTION VALUE="45" >SOUTH CAROLINA (45) <OPTION VALUE="46" >SOUTH DAKOTA (46) <OPTION VALUE="47" >TENNESSEE (47) <OPTION VALUE="48" >TEXAS (48) <OPTION VALUE="49" >UTAH (49) <OPTION VALUE="50" >VERMONT (50) <OPTION VALUE="51" >VIRGINIA (51) <OPTION VALUE="53" >WASHINGTON (53) <OPTION VALUE="54" >WEST VIRGINIA (54) <OPTION VALUE="55" >WISCONSIN (55) <OPTION VALUE="56" >WYOMING (56) </SELECT>'

string = string.split("=")
state_list = [x.replace(">", "").replace('"',"").split()[0:2] for x in string][1:]
pd.DataFrame(state_list).to_csv("state_codes.csv", header=False, index=False)

In [12]:
state_list

[['01', 'ALABAMA'],
 ['02', 'ALASKA'],
 ['04', 'ARIZONA'],
 ['05', 'ARKANSAS'],
 ['06', 'CALIFORNIA'],
 ['08', 'COLORADO'],
 ['09', 'CONNECTICUT'],
 ['10', 'DELAWARE'],
 ['11', 'DISTRICT'],
 ['12', 'FLORIDA'],
 ['13', 'GEORGIA'],
 ['15', 'HAWAII'],
 ['16', 'IDAHO'],
 ['17', 'ILLINOIS'],
 ['18', 'INDIANA'],
 ['19', 'IOWA'],
 ['20', 'KANSAS'],
 ['21', 'KENTUCKY'],
 ['22', 'LOUISIANA'],
 ['23', 'MAINE'],
 ['24', 'MARYLAND'],
 ['25', 'MASSACHUSETTS'],
 ['26', 'MICHIGAN'],
 ['27', 'MINNESOTA'],
 ['28', 'MISSISSIPPI'],
 ['29', 'MISSOURI'],
 ['30', 'MONTANA'],
 ['31', 'NEBRASKA'],
 ['32', 'NEVADA'],
 ['33', 'NEW'],
 ['34', 'NEW'],
 ['35', 'NEW'],
 ['36', 'NEW'],
 ['37', 'NORTH'],
 ['38', 'NORTH'],
 ['39', 'OHIO'],
 ['40', 'OKLAHOMA'],
 ['41', 'OREGON'],
 ['42', 'PENNSYLVANIA'],
 ['44', 'RHODE'],
 ['45', 'SOUTH'],
 ['46', 'SOUTH'],
 ['47', 'TENNESSEE'],
 ['48', 'TEXAS'],
 ['49', 'UTAH'],
 ['50', 'VERMONT'],
 ['51', 'VIRGINIA'],
 ['53', 'WASHINGTON'],
 ['54', 'WEST'],
 ['55', 'WISCONSIN'],
 ['56', 'WYOMING']]